body {
    background-image: url("../images/XHS_16509851763786fb8df33-8e3f-3138-849b-20c10b00ce1a.jpg");
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 30%;
    margin: auto;
    text-align: center;
}

/*.container {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    opacity: 0.8;
}

a {
    color: dodgerblue;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#login-failed {
    color: red;
}
